:root {
  --clr-primary: oklch(33.43% 0.1683 327.52);
  --clr-accent: oklch(0.83 0.12 343.79);
  --clr-neutral-dark: oklch(61.16% 0.042 327.45);
  --clr-neutral-light: oklch(96.64% 0.008 325.64);
  --clr-neutral-lighter: oklch(100% 0 0);
}
